<pep-page-layout>
  <ng-container pep-top-area>
      <pep-top-bar [title]="('Notifications_Log_Title' | translate)">
      </pep-top-bar>
  </ng-container>

  <ng-container pep-main-area>
      <div class="notifications-log">
        <p>
          {{ 'Notifications_Log_Subtitle' | translate }} {{currentUserEmail}}
        </p>
      </div>
      <pep-generic-list 
      [showTopBar]="true"
      [inline]="true"
      [dataSource]="dataSource"
      [showSearch]="true"
      [actions]="actions"
      [uuidMapping]="'Key'"
      [selectionType]="'single'"
      [noDataFoundMsg]= noDataMessage>
      </pep-generic-list>
  </ng-container>
</pep-page-layout>