@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins';
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/functions';

.notifications-menu {
    .notifications-header {
        position: sticky;
        top: 0;
        z-index: 5;
        padding: 1rem 1rem 0;
        background: functions.get-pep-color(color-system-primary-invert, color-base);

        .pep-border-bottom{
            display: flex;
            justify-content: space-between;
            padding-bottom: 1rem;

            .left-cont{
                display: flex;
                align-items: center;

                pep-button{
                    display: none;
                }
            }

            .color-link{
                cursor: pointer;
                display: flex;
                align-items: center;
            }
        }

        .header-buttons{
            display: flex;
            gap: .5rem;
            ::ng-deep .circle-btn{
                border-radius: 50%;
            }
        }
    }

    pep-skeleton-loader{
        margin-top: 1rem;
        display: block;
    }
    .notifications-items {
        overflow: auto;
        margin: 0;
        padding: 0;

        li{
            padding: 0 var(--pep-spacing-lg, 1rem);
            display: block;
            align-items: center;
            height: initial;
        }

        .notification-item {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            min-height: 4rem;
            height: auto;
            padding-block: 1rem;
            width: 100%;
            gap: variables.$spacing-xs;
            
            .msg-wrapper {
                width: 100%;
                display: flex;
                flex-flow: column;

                // label{
                //     font-family: variables.$font-family-title;
                // }
                label,span,p{
                    white-space: normal;
                }
                .body-md{
                    width: 100%;
                    
                    margin-bottom: variables.$spacing-sm;
                    font-family: variables.$font-family-body !important;
                    font-weight: variables.$font-weight-bold;
                }
                .notification-body {
                    margin-block-start: 0 !important;
                    font-family: variables.$font-family-body !important;
                    margin-bottom: variables.$spacing-sm;
                }
    
                // .notification-item-footer {
                //     .user-details{
                //         white-space: normal; 
                //     }
                // }

                .notification-goto {
                    @include mixins.state-weak-default();
                    display: flex;
                    align-self: start;
                    margin-top: variables.$spacing-md;
                    padding: variables.$spacing-xs variables.$spacing-sm;
                    border-radius: variables.$border-radius-xl;
                }
            }

            .notification-read {
                
                ::ng-deep .pep-button {
                    border-radius: 50%;

                    &.unread {
                        .mat-button-wrapper {
                            background-color: functions.get-pep-color(color-text, color-success);
                            height: 0.5rem;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    .notifications-footer {
        display: flex;
        align-items: center;
        flex-flow: column;
        padding: 1rem 0 1rem;

        img{
            max-width: 5rem;
        }
        // .ascii-frog {
        //     text-align: center;
        //     font-family: monospace;
        //     user-select: none;
        // }

        .footer-text {
            text-align: center;
            width: 248px;
            user-select: none;
        }

    }
}

@media screen and (max-width: 460px) {
    .body-md {
        font-size: variables.$fs-lg !important;
    }
    .body-sm{
        font-size: variables.$fs-md !important;
    }

    .body-lg{
        font-size: variables.$fs-xl !important;
    }

    .left-cont{
        pep-button{
            display: block !important;
        }
    }
}
  
#loadingSpinner {
    display: flex;
    height: 3rem;
    align-items: center;

    div {
        width: 7px;
        height: 7px;
        position: absolute;
        left: -20px;
        border-radius: 50%;
        animation: move 4s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }

    div:nth-child(2) {
        animation-delay: 150ms;
    }

    div:nth-child(3) {
        animation-delay: 300ms;
    }

    div:nth-child(4) {
        animation-delay: 450ms;
    }

    div:nth-child(5) {
        animation-delay: 600ms;
    }
}

@keyframes move {
    0% {
        left: 0%;
    }
    50% {
        left: 100%;
    }
    75% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}