.userListForm {
    ::ng-deep pep-rich-html-textarea {
        .mat-form-field-suffix{
            visibility: hidden;
        }
        pep-field-title {
            display: none;
        }
    }
    ::ng-deep .body-md{
        font-weight: normal !important;
        font-size: 14px !important;
    }
    ::ng-deep .pep-separator-field{
        height: 80% !important;
         
    }
    ::ng-deep .pep-border-bottom{
        display: none;
        border-bottom: none;
    }
    ::ng-deep mat-form-field{
        padding-bottom: 1rem;
        border-bottom-color: rgb(150, 150, 150) !important;
        border-bottom: 1px solid;
    }
    ::ng-deep mat-grid-tile {
        padding: 0;
    }
}
