<pep-dialog [showHeader]="false" [title]="'Add Group List'">
    <ng-container pep-dialog-content>
        <pep-generic-form *ngIf="dataView" class="userListForm" [dataSource]="formDataSource" [dataView]="dataView"  [inline]="true" [showTopBar]="false" [addPadding]="false" (valueChange)="valueChange($event)" (fieldClick)="fieldClick($event)">
        </pep-generic-form>
    </ng-container>
    <ng-container pep-dialog-actions>
        <div class="pep-spacing-element-negative" style="display: flex;">
            <pep-button class="pep-spacing-element" value="Cancel" styleType="regular" sizeType="sm" (buttonClick)="cancel()"></pep-button>
            <pep-button class="pep-spacing-element" value="Done" styleType="strong" sizeType="sm" [disabled]="!isSaveButtonEnabled" (buttonClick)="done()"></pep-button>
        </div>
    </ng-container>
</pep-dialog>
