<pep-dialog [title]="'Notifications_Form_Title' | translate">
  <ng-container pep-dialog-content>
      <pep-generic-form [dataSource]="notification" [dataView]="incoming.DataView" (valueChange)="onValueChanged($event)">

      </pep-generic-form>
      <p class="error">{{error}}</p>
  </ng-container>
  <ng-container pep-dialog-actions>
      <div class="pep-spacing-element-negative" style="display: flex;">         
          <pep-button 
              class="pep-spacing-element"
              [sizeType]="'md'" 
              [value]="'Cancel' | translate" 
              [styleType]="'weak'" 
              (buttonClick)="close()"
          ></pep-button>
      </div>
  </ng-container>
</pep-dialog>
