<pep-dialog [showHeader]="false" [title]="'Select Fields To Display'">
    <ng-container pep-dialog-content>
        <div style="display:flex; gap:2rem;">
            <div id="cancelDropArea" cdkDropList
            [cdkDropListData]="fieldsToSelect"
            (cdkDropListDropped)="removeSelected($event)"
            style="border: 1px solid #ccc; width: 45%; min-height: 200px; display:flex; gap: 0.5rem; flex-direction: column; padding: 1rem; border-radius: 0.25rem;" > 
                <pep-draggable-items cdkDrag 
                [items]="fieldsToSelect" 
                [title]="'Fields To Select From' | translate" 
                titleType="with-bottom-border" 
                titleSizeType="md" 
                [showSearch]="false" 
                [dropAreaIds]="['selectDropArea']">
                </pep-draggable-items> 
            </div>
            <div 
            cdkDropList 
            [cdkDropListData]="selectedFields"
            id="selectDropArea"
            (cdkDropListDropped)="addSelected($event)"
            style="border: 1px solid #ccc; width: 45%; min-height: 200px; display:flex; gap: 0.5rem; flex-direction: column; padding: 1rem; border-radius: 0.25rem;" > 
                <pep-draggable-items cdkDrag 
                [items]="selectedFields"
                [title]="'Drop Here Selected Fields' | translate"
                titleType="with-bottom-border" 
                titleSizeType="md"  
                [dropAreaIds]="['cancelDropArea']">
                </pep-draggable-items>
            </div> 
        </div>
    </ng-container>
    <ng-container pep-dialog-actions>
        <div class="pep-spacing-element-negative" style="display: flex;">
            <pep-button class="pep-spacing-element" value="Cancel" styleType="regular" sizeType="sm" (buttonClick)="cancel()"></pep-button>
            <pep-button class="pep-spacing-element" value="Done" styleType="strong" sizeType="sm" (buttonClick)="done()"></pep-button>
        </div>
    </ng-container>
</pep-dialog>