<pep-page-layout addPadding="true">
    <ng-container pep-top-area>
        <pep-top-bar>
            <div header-start-content pep-spacing-element>
                <pep-button class="pep-spacing-element" class="back-button" iconName="arrow_left_alt" sizeType="sm" (buttonClick)="onBackButtonClicked()"></pep-button>
                <h4 class="pep-spacing-element" > {{'Title_Addon' | translate }} </h4>
            </div>
        </pep-top-bar>
    </ng-container>

    <ng-container pep-main-area>
        <div class="message-creator">
            <div class="to">
                <pep-chips #chipsComp [type]="'select'" [chips]="chips" [styleType]="'weak'" [orientation] ="'vertical'" [placeholder]="'Add Recipient'" (fieldClick)="externalSourceClicked()"></pep-chips>
            </div>
            <div class="subject">
                <pep-textbox [label]="'Subject' | translate" [(value)]="message.Title" [disabled]="false" [readonly]="false"></pep-textbox>
            </div>
            <div class="body">
                <pep-textarea [label]="'body' | translate" [(value)]="message.Body" [readonly]="false" [rowSpan]="2"  ></pep-textarea>
            </div>
            <pep-button  class="sendButton" [sizeType]="'sm'" [classNames]="'pep-spacing-element'" [value]="'Send'| translate"
            [styleType]="'strong'" (buttonClick)="sendNotifications()"></pep-button>
        </div>
    </ng-container>
</pep-page-layout>

