<pep-page-layout addPadding="true">
    <ng-container pep-top-area>
        <pep-top-bar [title]="('Notifications_Setup_Title' | translate)">
        </pep-top-bar>
        <p>{{('Notifications_Setup_Description' | translate)}}</p>
    </ng-container>

    <ng-container pep-main-area>
        <pep-generic-list #glist1
        [uuidMapping]="'Key'"
        [dataSource]="dataSource"
        [actions]="actions"
        [title]="'Send To'"
        [disabled]="false"
        [addPadding]="true"
        [showSearch]="false"
        [zebraStripes]="false"
        [showTopBar]="true">
        <ng-container right-buttons>
            <pep-button class="pep-spacing-element" value="Add a list" styleType="strong" sizeType="sm" (buttonClick)="createNewListSetup()"></pep-button>
        </ng-container>
        </pep-generic-list>
    </ng-container>
    </pep-page-layout>
