<pep-page-layout addPadding="true">
    <ng-container pep-top-area>
        <pep-top-bar [title]="('Notifications_Setup_Title' | translate)">
        </pep-top-bar>
        <p>{{('Notifications_Setup_Description' | translate)}}</p>
    </ng-container>

    <ng-container pep-main-area>
        <pep-generic-list #glist1
        [dataSource]="dataSource"
        [actions]="actions"
        [title]="'Send To'"
        [disabled]="false"
        [addPadding]="true"
        [showSearch]="false"
        [showTopBar]="true">
        <ng-container right-buttons>
            <pep-button class="pep-spacing-element" value="Add a list" styleType="strong" sizeType="sm" (buttonClick)="addList()"></pep-button>
        </ng-container>
        </pep-generic-list>
    </ng-container>
    </pep-page-layout>

<ng-template #listForm>
    <ng-container class="formContainer">
        <pep-generic-form [dataView]="dataView" [dataSource]="formDataSource" [inline]="true" [showTopBar]="false" [addPadding]="false" (valueChange)="valueChange()" (fieldClick)="fieldClick()">
        </pep-generic-form>
        <div class="pep-spacing-element-negative" style="display: flex;">
            <pep-button class="pep-spacing-element" value="Cancel" styleType="regular" sizeType="sm" (buttonClick)="cancel()"></pep-button>
            <pep-button class="pep-spacing-element" value="Save" styleType="strong" sizeType="sm" [disabled]="true" (buttonClick)="saveList()"></pep-button>
        </div>
    </ng-container>
</ng-template>